*{
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

}


.info{

  position: fixed;
  background: #eee;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: flex-end;
 
}
.info a{
  color: #333;
  font-size: 13px;
  text-decoration: none;


}
.info i{
  padding: 3px;
}



 .info li{
  display: flex;
  padding: 20px;

}


nav{
  height: 2rem;
  position: fixed;
  z-index: 1;
  
  left: 0;
  width: 100%;
  display: grid;

}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40px 30px 0 40px;
  background-color: #fff;
 
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-around;

  

}

.nav-links a{ 
color: #333; 
text-decoration: none;
}

.nav-links li{
display: flex;
padding: 20px;
}
.nav-bar{
  display: none;
  width: 80%;
  position: absolute;
}

.nav-bar i{
  font-size: 20px;
}


.responsive-nav {
  display: none;
}

.contentNosotros{
  display: flex;
  justify-content: space-between;
  padding: 30px;

}

.contentNosotros img{
  width: 100%;
  height: 300px;
  object-fit: cover;

}

.contentNosotros p{
  padding: 0px 10px;

  font-size: 15.5px;
}

@media only screen and (max-width: 991px){
  .nav-links{
  display: none;
}
  .content_slider h2 {
      font-size: 25px !important;
  }



.nav-bar{
  display: flex;
  justify-content: flex-end;
}

  .responsive-nav .icon-for-slide {
        font-size: 28px;
        padding: 0 30px;
        margin-top: 30px;
        right: 0;
        position: absolute;
        z-index: 10;
        cursor: pointer;
  }
  
  .responsive-nav .responsive-ul {
    width: 50%;
    text-align: center;
    background-color: #fff;
    display: none;
    position: absolute;
    right: 0;
    
    height: 100vh;
    padding: 130px 40px;
    justify-content: flex-end;
    box-shadow: 2px 2px 5px black;
    z-index: 1;

  }
  .info{
  justify-content: center;
}

  .responsive-ul li{
    padding: 20px 0;
    display: flex;
  }
  .responsive-ul li:hover > a{
       color: #aaa;
  }
  .responsive-ul li a{
        text-decoration: none;
        color: #333;
  }





  .nav {
    display: none;
  }
  header{
    width: 100vw;
  }
  .responsive-nav {
    width: 100vw;
    display: block;
    margin-top: 30px;
   
  }
*/


}

@keyframes desaparecerNav{
    0% {
      margin-right: 0;
      opacity: 1
    }
    100% {
      margin-right: -100%;
      opacity: 0;
    }
}
@keyframes aparecerNav{

    0% {
      margin-right: -100%;
      opacity: 0
    }
    100% {
      margin-right: 0px;
      opacity: 1;
    }
}


#container-slider
{
    position: relative;
    display: block;
    width: 100%;
    z-index: 0;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;

}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
    padding-top: 20px;
}
.content_slider h2{
  
    font-size: 25pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
  
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 10;
    transform: translateX(-50%);
}

.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 10px;

}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;

   
}
.item-select-slid {
    background: #FFF  !important;
}
@media screen and (max-width: 600px){
  .contentNosotros{
  display: inline-block;
  
}

.contentNosotros p{
  padding: 0 !important;
}

}

@media screen and (max-width: 460px){

  .content_slider p {
      font-size: 12pt !important;
  }.contentNosotros img{
  width: 100%; 
  object-fit: cover;
  height: 270px !important;
  object-fit: cover;

}
  #container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 20pt;
  }
  #container-slider .arrowPrev{
    left: 15px;
  }
  #container-slider .arrowNext{
    right: 15px !important;
  }
  #slider{
    height: 400px;
    min-height: 400px;
  }
  #slider li .content_slider{
    padding: 10px 35px;
  }
  .btnSlider{
    padding: 10px 30px;
      font-size: 10pt;
  }

}


h1{
  text-align: center;
  padding: 10px;
  background: ;
  color: #083165;
  font-family: "futura";
  width: 100%;
  font-size: 40px;
  display: inline-block;

}

#reseñas{
}

#servicios {
 

}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-heading{
  padding: 30px;
  font-size: 30pt;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #34bad5 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.columnGaleria{
    flex: 0 50%;
    max-width: 50%;
  }
.cardGaleria {
  width: 100%;
  height: 100%;
  padding: 1em 1em;
  border-radius: 5px;
 
  cursor: pointer;
  
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
h2{
  text-align: center;

}
.infoNosotros {
  color: #000;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: block;
 text-align: left;
}

.infoServicio {
  color: #000;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: block;
 text-align: left;
}
.icon-wrapper {
  background-color: #34bad5;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #34bad5;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}

.row-reseña{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column-reseña{
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card-reseña {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
 
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.card-reseña p{
  margin-top: 0px !important;
  display: block;
}



@media screen and (min-width: 768px) {
  #servicios {
    
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }

  .column-reseña{
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card-reseña{
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.card-reseña img{
  width: 50%;
}

}
.card-reseña img{
  width: 100px;
  float: left;
  display: inline-block;
}
.infoReseña{
  padding-top: 30px;
  display: inline-block;
  text-align: left;
}

.nameReseña{
  text-align: left;
  padding-top: 20px;
}

.card-reseña span{
  width: 100px;
  float: right;
  display: inline-block;
}
@media screen and (min-width: 992px) {
  #servicios {
   
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .columnGaleria{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  #reseña {
    
  }
  .column-reseña {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }



}


.list-inline{
  display: flex;
  justify-content: center;

}
.list-inline a{ 
color: #333; 
text-decoration: none;
}

.list-inline li{
display: flex;
padding: 20px;
}

footer{
  padding: 60px;
  text-align: center;
}
